* {
    margin: 0;
    padding: 0;
}

@media (min-width: 2000px) { 
     .form {
        margin-left: 30vw;
        margin-right: 30vw;
        }
}

@media (max-width: 1999px) { 
    .form {
       margin-left: 700px;
       margin-right: 700px;
       }
}

@media (max-width: 1200px) { 
    .form {
       margin-left: 150px;
       margin-right: 150px;
       }
}

@media (max-width: 700px) { 
    .form {
       margin-left: 50px;
       margin-right: 50px;
       }
}

@media (max-width: 500px) { 
    .form {
       margin-left: 5px;
       margin-right: 5px;
       }
}

body {
    background-color: #2e2e2e;
}

#img {
    background: url(https://ms.detector.media/doc/images/news/14829/i75_ArticleImage_14829.jpg) center top;
    height: 50vh;
    background-position-y: 20%;

}

#mrgb {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
    background: grey;
    color: green;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;

}

form {
    text-align: center;
    border: white 3px solid ;


}

form label, span {
    color: whitesmoke;
}

b {
    color: red;
}

#gotovo {
    height: 80px;
    width: 150px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
    color:darkblue;
    cursor: pointer;
}

#gotovo:hover {
    background-color: red;
    font-size: 30px;
}

#diamond {
    height: 25px;
}

#prosloika {
    position:static;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-image: url('img/Crystal.png');
    background-size: 90%;
    background-position-y: 20px;
    background-repeat: no-repeat;
}